<!DOCTYPE HTML>
<html>
<head>
<title>بازیابی رمز عبور</title>
<!-- Custom Theme files -->
<link href="../../wwwroot/Content/css/login.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="../../wwwroot/Content/css/font-awesome.min.css">
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<style>
.nosingup{
color:white;
}
.nosingup:hover{
color:red;
}
</style>
</head>
<body>
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="../../wwwroot/images/refresh.png" alt=""/></span>
			</div>
			<h1 style="font-family:isans">بازیابی رمز عبور</h1>
			<div class="login-top">
			<form>
				<div class="login-ic">
					
					<input type="text" style="font-family:isans2" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'ایمیل';}"/>
						<i  class="fa fa-envelope" style="font-size:25px;color:white;margin-top:10px;margin-left:10px;" aria-hidden="true"></i><div class="clear"> </div>
				
				</div>
				
				<div class="log-bwn" >
					<input style="font-family:isans2"type="submit"  value="ارسال" >
				</div>
				
				</form>
			</div>
			<p class="copy">© 2016 Square Login Form. All rights reserved | Design by ..............</p>
</div>		
<!--header start here-->
</body>
</html>
</html>
